/* css reset */
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */

.container {           
    max-width: 1200px;
    margin: 0 auto;
}

.bg-white {
    background-color: white;
}

.bg-blu {
    background-color: #45abea;
}

.bg-lilla {
    background-color: #9c72e4;
}

.bg-green {
    background-color: #64c0a9;
}

.bg-orange {
    background-color: #f29e33;
}

.bg-rosa {
    background-color: #d863a1;
}

.bg-lime {
    background-color: #b0c926;
}

/* generics */
body {
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
    margin-bottom: 30px;
}

#logo {
    height: 50px;
    vertical-align: middle;
}

/* card header */
.card-header {
    padding: 20px 30px;
    border-bottom: 2px solid #f6f8f9;
    border-radius: 5px 5px 0 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
    font-size: 1rem;
    text-decoration: none;
}

.btn.btn-outline {
    border-color: #808080;
}

.btn:hover {
    cursor: pointer;
}

/* card body */
.card-body {
    padding: 20px 30px;
    border-radius: 0 0 5px 5px;
}

.task-list, .tasks {
    list-style-type: none;
}

.task-section {
    margin-bottom: 35px;
}

.task-item {
    line-height: 40px;
}

.task-title {
    margin-bottom: 10px;
    display: inline-block;
}

.task-status {
    border: 1px solid currentColor;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
    vertical-align: middle;
}

.task-text {
    vertical-align: middle;
}

.task-category {
    color: white;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
}

.task-status.task-done {
    color: #00ff00;
}

.task-status.task-undone {
    color: #ff0000;
}

